body{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
header{
    height: 16vh;
    width: 100%;
    max-width: 900px;
    margin: 20px 0px;
}

header #logo{
    height: 16vh;
    float: left;
}

header #logo img{
    height: 16vh;
}

header .menu{
    height: 16vh;
    float: right;
}

header .menu ul li{
    list-style: none;
    float: left;
}

header .menu ul li a{
    background: burlywood;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
}

header .menu ul li a:hover{
    background: green;
    color: violet;
}

#perfil {
    height: 40vh;
    margin: 20px 0px;
    border: 2px solid #000;
}

#perfil img{
    height: 40vh;
    float: left;
    border: 2px solid #000;
}

#perfil h1{
    font-size: 3.1 rem;
    color: black;
    text-align: center;
}

#perfil p{
    color: black;
    text-align: center;
}

#recuadros{
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    border: 0px solid;
    margin: 20px 0px;
    text-align: center;
}

#recuadros .recuadro{
    width: 280;
    overflow: hidden;
    border: 1px solid #2d2f38;
    text-align: center;
    float: left;
    padding: 5px;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
}

#recuadros .recuadro.parrafo{
    color: black;
    text-align: justify;
}

.boton{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
}

.boton:hover{
    background: black;
    color: #fff;
}

footer{
    height: 8vh;
    width: 100%;
    max-width: 900px;
    text-align: center;
    float: left;
}

#formulario{
    width: 432px;
    height: auto;
    overflow: hidden;
    padding: 5px;
    float: left;
}

#formulario2{
    width: 432px;
    height: auto;
    overflow: hidden;
    padding: 5px;
    float: right;
}