body{
    line-height: normal;
}
.card-body{
    background-color: rgba(8,51,162, 0.1);
    border-radius: 5px;
}
.card-title-area{
    font-style: italic;
}
.card-text{
    font-size: 120%;
    font-family: serif;
}
.modal-title{
    font-family: serif;
}
#modal_header{
    background-color: #0056b3;
    color: white;
    display: block;
    align-items: center;
    width: 100%;
    margin: 0 0;
    text-align: center;
}
.close {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}
.form-group{
    font-size: 12pt;
    font-family: serif;
    text-align: center;
    margin-bottom: 10px;
}
.button-blue {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.button-blue:hover {
    color: black;
    text-decoration: none;
}
.button-red {
    background-color: #a20833;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}
.button-red:hover {
    color: black;
    text-decoration: none;
}
.btn.btn-secondary:hover {
    color: black;
    text-decoration: none;
}