.profile-image {
    max-width: 100%;
    height: auto;
    width: 80%;
    border: 2px solid black ;
}

/* .profile-info-item {
    align-items: center;
    border-bottom: 1px solid #ced4da;
    padding-top: 2rem;
}

.profile-info-label {
    font-weight: bold;
    font-size: larger;
}
.profile-info-value {
    font-size: larger;
    text-align: center;
}  */

.profile-info-item {
    align-items: center;
    border-bottom: 1px solid #ced4da;
    padding-top: 2rem;
}

.profile-info-label {
    font-weight: bold;
    font-size: larger;
}

.profile-info-value {
    font-size: larger;
    text-align: center;
}


.button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.button:hover {
    color: black;
    text-decoration: none;
}