body {
    background-color: #f8f9fa;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-container {
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#calendar {
    width: 100%;
    height: 77vh;
}
.fc-header-toolbar {
    background-color: #1541a9a5;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.fc-today-button.fc-button.fc-button-primary{
    background-color: #a20833;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: capitalize;
}
.centered-event {
    text-align: center;
    line-height: 16px;
    font-weight: bold;
}
h2#fc-dom-1.fc-toolbar-title{
    margin-left: 20px;
}
@media only screen and (max-width: 768px) {
    html{
        height: 100%;
    }
    .container{
        width: 100%;
    }
    .calendar-container {
        max-width: 100%;
        height:34rem;
    }
    #calendar{
        height: 34rem;
    }
    .centered-event {
        text-align: center;
        line-height: 10px;
        font-weight: normal;
        font-size: 8pt;
    }
    div.fc-toolbar-chunk{
        display: flex;
        align-items: center;
    }
}

.modal-header {
    background-color: #0056b3;
    color: #ffffff;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}

#modal_reservas {
    font-family: serif;
}

.button-back {
    margin-top: 10px;
}
.btn.btn-secondary.btn-block{
    margin-top: 10px;
}
.btn.btn-secondary.btn-block:hover{
    color: black;
}
